/*
    Example of themeing designsys using Nord theme (nordtheme.com)
*/

:root {
    --red: #BF616A;
    --redAlt: #BF616A; /* fix later */
    --orange: #D08770;
    --orangeAlt: #D08770;
    --yellow: #EBCB8B;
    --yellowAlt: #EBCB8B;
    --green: #A3BE8C;
    --greenAlt: #A3BE8C; /* fix later */
    --blue: #5E81AC;
    --blueAlt: #81A1C1;
    --bg3: #434C5E;
    --bg2: #3B4252;
    --bg1: #2E3440;
    --black: #2E3440;
    --fg: #D8DEE9;
    --white: #D8DEE9;
    --primary:#88C0D0;
    --primaryAlt:#8FBCBB;
    --purple: #B48EAD;
    --purpleAlt: #B48EAD;
    --pink: #B48EAD;
    --pinkAlt: #B48EAD;
}