$dark-theme: true;
$bg0: color.adjust($bg1, $lightness: -20%);
$bg1: false;
$bg2: color.adjust($bg1, $lightness: +20%);
$bg3: color.adjust($bg2, $lightness: +20%);
$fg0: color.mix($fg1, $bg1, 60%);
$fg1: false;
$fg2: $fg1;
$main: false;
$extra: false;
$bgExtra: $bg0;
$scary: false;
$yay: false;
$links: $main;
$border-radius: 0.8rem;
$border-width: 0.2rem;