@use "../scss/ehui.scss" with (
    $border-radius: 2rem,
    $border-width: 0.2rem,
    $border-style: solid,
);

:root {
    color-scheme: light;
    --fg2: #343a40;
    --fg1: #495057;
    --fg0: #868e96;
    --bg3: #dee2e6;
    --bg2: #e9ecef;
    --bg1: #f8f9fa;
    --bg0: #ffffff;
    --main2: #5f3dc4;
    --main: #7048e8;
    --main0: #d0bfff;
    --extra2: #087f5b;
    --extra: #0ca678;
    --extra0: #96f2d7;
    --yay2: #087f5b;
    --yay: #0ca678;
    --yay0: #96f2d7;
    --ohno2: #c92a2a;
    --ohno: #f03e3e;
    --ohno0: #ffc9c9;
    --red2: #c92a2a;
    --red: #f03e3e;
    --red0: #ffc9c9;
    --orange2: #d9480f;
    --orange: #f76707;
    --orange0: #ffd8a8;
    --yellow2: #f59f00;
    --yellow: #fcc419;
    --yellow0: #ffec99;
    --green2: #2b8a3e;
    --green: #37b24d;
    --green0: #b2f2bb;
    --teal2: #087f5b;
    --teal: #0ca678;
    --teal0: #96f2d7;
    --cyan2: #0b7285;
    --cyan: #1098ad;
    --cyan0: #99e9f2;
    --blue2: #1864ab;
    --blue: #1c7ed6;
    --blue0: #a5d8ff;
    --purple2: #5f3dc4;
    --purple: #7048e8;
    --purple0: #d0bfff;
    --pink2: #c2255c;
    --pink: #e64980;
    --pink0: #fcc2d7;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --fg2: #343a40;
        --fg1: #495057;
        --fg0: #868e96;
        --bg3: #dee2e6;
        --bg2: #e9ecef;
        --bg1: #f8f9fa;
        --bg0: #ffffff;
        --main2: #5f3dc4;
        --main: #7048e8;
        --main0: #d0bfff;
        --extra2: #087f5b;
        --extra: #0ca678;
        --extra0: #96f2d7;
        --yay2: #087f5b;
        --yay: #0ca678;
        --yay0: #96f2d7;
        --ohno2: #c92a2a;
        --ohno: #f03e3e;
        --ohno0: #ffc9c9;
        --red2: #c92a2a;
        --red: #f03e3e;
        --red0: #ffc9c9;
        --orange2: #d9480f;
        --orange: #f76707;
        --orange0: #ffd8a8;
        --yellow2: #f59f00;
        --yellow: #fcc419;
        --yellow0: #ffec99;
        --green2: #2b8a3e;
        --green: #37b24d;
        --green0: #b2f2bb;
        --teal2: #087f5b;
        --teal: #0ca678;
        --teal0: #96f2d7;
        --cyan2: #0b7285;
        --cyan: #1098ad;
        --cyan0: #99e9f2;
        --blue2: #1864ab;
        --blue: #1c7ed6;
        --blue0: #a5d8ff;
        --purple2: #5f3dc4;
        --purple: #7048e8;
        --purple0: #d0bfff;
        --pink2: #c2255c;
        --pink: #e64980;
        --pink0: #fcc2d7;
    }
}
