@use "../src/scss/theme-svgs.scss";

:root {
    color-scheme: light;
    --ohno: #f03e3e;
    --ohno-alt: #c92a2a;
    --yay: #0fb180;
    --yay-alt: #087f5b;
    --main: #754dee;
    --main-alt: #5f3dc4;
    --extra: #0fb180;
    --extra-alt: #087f5b;
    --extra-bg: #fbfcfc;
    --fg2: #343a40;
    --fg1: #3f454c;
    --fg0: #727a81;
    --bg4: #dee2e6;
    --bg3: #e9ecef;
    --bg2: #fbfcfc;
    --bg1: #ffffff;
    --bg0: #fbfcfc;
    --select: #343a40;
    --select-bg: #e5dbff;
}

@include theme-svgs.waves(#fbfcfc /* bg0 */, #fbfcfc /* extra-bg */);

@media (prefers-color-scheme: dark) {
    
:root {
    color-scheme: dark;
    --ohno: #ff6666;
    --ohno-alt: #ff9999;
    --yay: #80FFBF;
    --yay-alt: #B3FFD9;
    --main: #A280FF;
    --main-alt: #C7B3FF;
    --extra: #80FFBF;
    --extra-alt: #B3FFD9;
    --extra-bg: #1C1C26;
    --fg2: #c3cce9;
    --fg1: #c3cce9;
    --fg0: #9399b2;
    --bg4: #303040;
    --bg3: #2C2C3A;
    --bg2: #252531;
    --bg1: #21212C;
    --bg0: #1C1C26;
    --select: #c3cce9;
    --select-bg: #43396A;
  }
  
  @include theme-svgs.waves(#1C1C26 /* bg0 */, #1C1C26 /* extra-bg */);  
}
