@use "../src/scss/theme-svgs.scss";

:root {
  color-scheme: light;
  --ohno: #f03e3e;
  --ohno-on-bg: #f03e3e;
  --ohno-alt: #c92a2a;
  --ohno-faint: #c92a2a;
  --on-ohno: #c92a2a;
  --yay: #0fb180;
  --yay-on-bg: #0fb180;
  --yay-alt: #087f5b;
  --yay-faint: #087f5b;
  --on-yay: #087f5b;
  --main: #4E4EEF;
  --main-on-bg: #4E4EEF;
  --main-alt: #3C3CC3;
  --main-faint: #3C3CC3;
  --on-main: #3C3CC3;
  --extra: #0fb180;
  --extra-on-bg: #0fb180;
  --extra-alt: #087f5b;
  --extra-faint: #087f5b;
  --on-extra: #087f5b;
  --extra-bg: #f8f8f8;
  --fg2: #242528;
  --fg1: #242528;
  --fg0: #747474;
  --border: #f0f0f0;
  --bg3: #f2f2f2;
  --bg2: #f8f8f8;
  --bg1: #fefefe;
  --bg0: #f8f8f8;
  --on-select-bg: #242528;
  --select-bg: #DBDBFF;
}

@include theme-svgs.waves(#f8f8f8 /* bg0 */, #f8f8f8 /* extra-bg */);

@media (prefers-color-scheme: dark) {
    
:root {
    color-scheme: dark;
    --ohno: #ff6666;
    --ohno-alt: #ff9999;
    --yay: #80FFBF;
    --yay-alt: #B3FFD9;
    --main: #A280FF;
    --main-alt: #C7B3FF;
    --extra: #80FFBF;
    --extra-alt: #B3FFD9;
    --extra-bg: #1C1C26;
    --fg2: #c3cce9;
    --fg1: #c3cce9;
    --fg0: #9399b2;
    --bg4: #303040;
    --bg3: #2C2C3A;
    --bg2: #252531;
    --bg1: #21212C;
    --bg0: #1C1C26;
    --select: #c3cce9;
    --select-bg: #43396A;
  }
  
  @include theme-svgs.waves(#1C1C26 /* bg0 */, #1C1C26 /* extra-bg */);  
}
