/* Error: There is no module with the namespace "string".
 *   ,
 * 2 |   $index: string.index($string, "#");
 *   |           ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/scss/theme-waves.scss 2:11   url-encode-replace-hashtag()
 *   src/scss/theme-waves.scss 10:11  wave-top-svg-url()
 *   src/scss/theme-waves.scss 56:27  waves()
 *   themes/dark.scss 29:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "string".\a   \2577 \a 2 \2502    $index: string.index($string, "#");\a   \2502            ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/scss/theme-waves.scss 2:11   url-encode-replace-hashtag()\a   src/scss/theme-waves.scss 10:11  wave-top-svg-url()\a   src/scss/theme-waves.scss 56:27  waves()\a   themes/dark.scss 29:1            root stylesheet';
}
