@use "../src/scss/ehui.scss" with (
  $color-scheme: dark,
  $ohno: #ff6666,
  $ohno-alt: #ff9999,
  $yay: #66FFCC,
  $yay-alt: #CCFFEE,
  $main: #9466FF,
  $main-alt: #B899FF,
  $extra: #66FFCC,
  $extra-alt: #CCFFEE,
  $extra-bg: #1B1B26,
  $fg2: #c3cce9,
  $fg1: #c3cce9,
  $fg0: #9399b2,
  $bg4: #2E2E42,
  $bg3: #2B2B3D,
  $bg2: #242433,
  $bg1: #20202E,
  $bg0: #1B1B26,
  $select: #c3cce9,
  $select-bg: #533380,
)
