:root {
  color-scheme: dark;
  --ohno: #ff6666;
  --ohno-alt: #ff9999;
  --yay: #80FFBF;
  --yay-alt: #B3FFD9;
  --main: #A280FF;
  --main-alt: #C7B3FF;
  --extra: #80FFBF;
  --extra-alt: #B3FFD9;
  --extra-bg: #1C1C26;
  --fg2: #c3cce9;
  --fg1: #c3cce9;
  --fg0: #9399b2;
  --bg4: #303040;
  --bg3: #2C2C3A;
  --bg2: #252531;
  --bg1: #21212C;
  --bg0: #1C1C26;
  --select: #c3cce9;
  --select-bg: #43396A;
}
