@use "../src/scss/theme-svgs.scss";

@mixin theme {
    color-scheme: dark;
    --ohno: #ff6666;
    --ohno-on-bg: #ff6666;
    --ohno-alt: #ff9999;
    --ohno-faint: #ff9999;
    --on-ohno: #101217;
    --yay: #80FFBF;
    --yay-on-bg: #80FFBF;
    --yay-alt: #B3FFD9;
    --yay-faint: #B3FFD9;
    --on-yay: #101217;
    --main: #80AAFF;
    --main-on-bg: #80AAFF;
    --main-alt: #B3CCFF;
    --main-alt-on-bg: #B3CCFF;
    --main-faint: #B3CCFF;
    --on-main: #101217;
    --extra: #80FFBF;
    --extra-on-bg: #80FFBF;
    --extra-alt: #B3FFD9;
    --extra-faint: #B3FFD9;
    --on-extra: #101217;
    --extra-bg: #101217;
    --fg-2: #c3cce9;
    --fg-1: #c3cce9;
    --fg-0: #9399b2;
    --border: #262B33;
    --bg-3-alt: #262B33;
    --bg-3: #25282E;
    --bg-2: #1D2026;
    --bg-1: #16191F;
    --bg-0: #101217;
    --on-select-bg: #c3cce9;
    --select-bg: #3A4A6B;

    @include theme-svgs.waves(#101217 /* bg-0 */, #101217 /* extra-bg */);
}

.theme-dark,
:root.theme-dark {
    @include theme;
}

