@use "../src/scss/theme-svgs.scss";

:root {
  color-scheme: light;
  --ohno: #dc3545;
  --ohno-alt: #842029;
  --yay: #20c997;
  --yay-alt: #13795B;
  --main: #7950F2;
  --main-alt: #9775FA;
  --extra: #20c997;
  --extra-alt: #13795B;
  --extra-bg: #F8F9FA;
  --fg2: #000; /* #000000 */
  --fg1: #212529;
  --fg0: #595C5F;
  --bg4: #DEE2E6;
  --bg3: #E9ECEF;
  --bg2: #F8F9FA;
  --bg1: #ffffff;
  --bg0: #F8F9FA;
  --select: #212529;
  --select-bg: #E0CFFC;
}

@include theme-svgs.waves(#F8F9FA /* bg0 */, #F8F9FA /* extra-bg */);
