$border-radius: 0.8rem !default;

a.mark {
  /*
  undo stuff in other stuff?
  */
  color: var(--main);
}

a.mark:hover,
a.mark:focus {
  color: var(--main-alt);
}

/*
other utils
*/

span.ohno,
p.ohno,
b.ohno,
i.ohno,
u.ohno,
.text.ohno,
mark.ohno,
.mark.ohno,
code.ohno {
  color: var(--ohno);
}

span.yay,
p.yay,
b.yay,
i.yay,
u.yay,
.text.yay,
mark.yay,
.mark.yay,
code.yay {
  color: var(--yay);
}

span.bg1,
p.bg1,
b.bg1,
i.bg1,
u.bg1,
.text.bg1,
mark.bg1,
.mark.bg1,
code.bg1 {
  color: var(--bg-1);
}

span.fg2,
p.fg2,
b.fg2,
i.fg2,
u.fg2,
.text.fg2,
mark.fg2,
.mark.fg2,
code.fg2 {
  color: var(--fg-2);
}

span.fg1,
p.fg1,
b.fg1,
i.fg1,
u.fg1,
.text.fg1,
mark.fg1,
.mark.fg1,
code.fg1 {
  color: var(--fg-1);
}

span.fg0,
p.fg0,
b.fg0,
i.fg0,
u.fg0,
.text.fg0,
mark.fg0,
.mark.fg0,
code.fg0 {
  color: var(--fg-0);
}

span.main,
p.main,
b.main,
i.main,
u.main,
.text.main,
mark.main,
.mark.main,
code.main {
  color: var(--main);
}

span.extra,
p.extra,
b.extra,
i.extra,
u.extra,
.text.extra,
mark.extra,
.mark.extra,
code.extra {
  color: var(--extra);
}

mark.markOhno,
.mark.markOhno {
  background-color: var(--ohno);
}

mark.markYay,
.mark.markYay {
  background-color: var(--yay);
}

mark.markBg4,
.mark.markBg4 {
  background-color: var(--border);
}

mark.markBg2,
.mark.markBg2 {
  background-color: var(--bg-2);
}

mark.markFg2,
.mark.markFg2 {
  background-color: var(--fg-2);
}

mark.markFg1,
.mark.markFg1 {
  background-color: var(--fg-1);
}

mark.markFg0,
.mark.markFg0 {
  background-color: var(--fg-0);
}

mark.markMain,
.mark.markMain {
  background-color: var(--main);
}

mark.markExtra,
.mark.markExtra {
  background-color: var(--extra);
}

.box.ohno {
  color: var(--ohno);
  border-color: var(--ohno);
}

.box.yay {
  color: var(--yay);
  border-color: var(--yay);
}

pre,
.pre {
  white-space: pre;
  display: block;
  padding: 0.8rem;
  border: none;
  border-radius: $border-radius;
  background: var(--bg-2);
}

pre > code,
pre > .code,
.pre > code,
.pre > .code {
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0px;
  background: none;
}

button.ohno,
.button.ohno {
  background-color: var(--ohno);
}

button.yay,
.button.yay {
  background-color: var(--yay);
}

button.extra,
.button.extra {
  background-color: var(--extra);
  color: var(--extra-bg);
}

button.alt.ohno,
.button.alt.ohno {
  color: var(--ohno);
  background: var(--bg-2);
}

button.alt.yay,
.button.alt.yay {
  color: var(--yay);
  background: var(--bg-2);
}

button.alt.extra,
.button.alt.extra {
  color: var(--extra);
  background: var(--bg-2);
}

button.alt:hover.ohno,
button.alt:focus.ohno,
.button.alt:hover.ohno,
.button.alt:focus.ohno {
  background-color: var(--bg-3);
  color: var(--ohno-alt);
}

button.alt:hover.yay,
button.alt:focus.yay,
.button.alt:hover.yay,
.button.alt:focus.yay {
  background-color: var(--bg-3);
  color: var(--yay-alt);
}

button.alt:hover.extra,
button.alt:focus.extra,
.button.alt:hover.extra,
.button.alt:focus.extra {
  background-color: var(--bg-3);
  color: var(--extra-alt);
}

button:hover.ohno,
button:focus.ohno,
.button:hover.ohno,
.button:focus.ohno {
  background-color: var(--ohno-alt);
  color: var(--bg-1);
}

button:hover.yay,
button:focus.yay,
.button:hover.yay,
.button:focus.yay {
  background-color: var(--yay-alt);
  color: var(--bg-1);
}

button:hover.extra,
button:focus.extra,
.button:hover.extra,
.button:focus.extra {
  background-color: var(--extra-alt);
  color: var(--extra-bg);
}

button:focus-visible.ohno,
.button:focus-visible.ohno {
  outline-color: var(--ohno);
}

button:focus-visible.yay,
.button:focus-visible.yay {
  outline-color: var(--yay);
}

button:focus-visible.extra,
.button:focus-visible.extra {
  outline-color: var(--extra);
}

button.button-box.ohno,
.button.button-box.ohno {
  color: var(--ohno);
  background: var(--bg-2);
  border: 0.2rem solid var(--bg-2);
  border-radius: $border-radius;
}

button.button-box.yay,
.button.button-box.yay {
  color: var(--yay);
  background: var(--bg-2);
  border: 0.2rem solid var(--bg-2);
  border-radius: $border-radius;
}

button.button-box:hover.ohno,
button.button-box:focus.ohno,
.button.button-box:hover.ohno,
.button.button-box:focus.ohno {
  color: var(--ohno-alt);
  background: var(--bg-3);
  border-color: var(--bg-3);
}

button.button-box:hover.yay,
button.button-box:focus.yay,
.button.button-box:hover.yay,
.button.button-box:focus.yay {
  color: var(--yay-alt);
  background: var(--bg-3);
  border-color: var(--bg-3);
}

button.button-box.selected.ohno,
.button.button-box.selected.ohno {
  color: var(--ohno);
  border-color: var(--ohno);
}

button.button-box.selected.yay,
.button.button-box.selected.yay {
  color: var(--yay);
  border-color: var(--yay);
}

button.button-box.selected:hover.ohno,
button.button-box.selected:focus.ohno,
.button.button-box.selected:hover.ohno,
.button.button-box.selected:focus.ohno {
  color: var(--ohno-alt);
  background: var(--bg-3);
  border-color: var(--ohno-alt);
}

button.button-box.selected:hover.yay,
button.button-box.selected:focus.yay,
.button.button-box.selected:hover.yay,
.button.button-box.selected:focus.yay {
  color: var(--yay-alt);
  background: var(--bg-3);
  border-color: var(--yay-alt);
}

input[type="text"].ohno,
input[type="password"].ohno,
textarea.ohno {
  border-color: var(--ohno);
}

input[type="text"].yay,
input[type="password"].yay,
textarea.yay {
  border-color: var(--yay);
}

input[type="text"].extra,
input[type="password"].extra,
textarea.extra {
  border-color: var(--extra);
}

input[type="text"].ohno:focus,
input[type="password"].ohno:focus,
textarea.ohno:focus {
  border-color: var(--ohno-alt);
}

input[type="text"].yay:focus,
input[type="password"].yay:focus,
textarea.yay:focus {
  border-color: var(--yay-alt);
}

input[type="text"].extra:focus,
input[type="password"].extra:focus,
textarea.extra:focus {
  border-color: var(--extra-alt);
}

textarea.vertical {
  resize: vertical;
  white-space: pre;
}

textarea.horizontal {
  resize: horizontal;
  white-space: pre;
}

.hide {
  display: none;
}

.fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background: var(--bg-1);
}

.exitFullscreen {
  position: fixed;
  top: 1rem;
  left: 1rem;
  margin: 0px;
  /* hide exit button by default */
  display: none;
}

.fullscreen > button.exitFullscreen,
.fullscreen > .button.exitFullscreen {
  /* show exit button if its parent is fullscreen */
  display: inline-block;
  /* and specifically use inline block just for buttons */
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0px;
  opacity: 0;
  overflow: hidden;
}

/* fancy stuff */
.hero > .logo::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: -1;
  background-color: var(--main);
  opacity: 0.2;
  filter: blur(1rem);
  border-radius: 50%;
}

html.min .hero > .logo::before {
  display: none;
}

.hero > .logo > svg {
  margin-top: 0px;
}

/* temp */
.fullWidth {
  width: 100%;
}

.grid.page.extra {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 1rem;
  background-color: var(--extra-bg);
}

button.large,
.button.large {
  padding: 0.8rem 1.4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.fill-ohno {
  fill: var(--ohno);
}

.fill-ohno-alt {
  fill: var(--ohno-alt);
}

.fill-yay {
  fill: var(--yay);
}

.fill-yay-alt {
  fill: var(--yay-alt);
}

.fill-main {
  fill: var(--main);
}

.fill-main-alt {
  fill: var(--main-alt);
}

.fill-extra {
  fill: var(--extra);
}

.fill-extra-alt {
  fill: var(--extra-alt);
}

.fill-extra-bg {
  fill: var(--extra-bg);
}

.fill-fg2 {
  fill: var(--fg-2);
}

.fill-fg1 {
  fill: var(--fg-1);
}

.fill-fg0 {
  fill: var(--fg-0);
}

.fill-bg4 {
  fill: var(--border);
}

.fill-bg3 {
  fill: var(--bg-3);
}

.fill-bg2 {
  fill: var(--bg-2);
}

.fill-bg1 {
  fill: var(--bg-1);
}

.fill-bg0 {
  fill: var(--bg-0);
}

.background-extra-bg {
  background-color: var(--extra-bg);
}

.background-bg2 {
  background-color: var(--bg-2);
}

.background-bg1 {
  background-color: var(--bg-1);
}

.background-bg0 {
  background-color: var(--bg-0);
}

.dropdown .content button.ohno,
.dropdown .content .button.ohno {
  background-color: var(--bg-2);
  color: var(--ohno);
}

.dropdown .content button.yay,
.dropdown .content .button.yay {
  background-color: var(--bg-2);
  color: var(--yay);
}

.dropdown .content button.ohno:hover,
.dropdown .content .button.ohno:hover,
.dropdown .content button.ohno:focus,
.dropdown .content .button.ohno:focus {
  background-color: var(--bg-3);
  color: var(--ohno-alt);
}

.dropdown .content button.yay:hover,
.dropdown .content .button.yay:hover,
.dropdown .content button.yay:focus,
.dropdown .content .button.yay:focus {
  background-color: var(--bg-3);
  color: var(--yay-alt);
}

button.dropdown-toggle.ohno,
.button.dropdown-toggle.ohno,
button.icon-only-button.ohno,
.button.icon-only-button.ohno,
button.faint.ohno,
.button.faint.ohno {
  background-color: transparent;
  border: none;
  color: var(--ohno);
}

button.dropdown-toggle.ohno:hover,
.button.dropdown-toggle.ohno:hover,
button.dropdown-toggle.ohno:focus,
.button.dropdown-toggle.ohno:focus,
button.icon-only-button.ohno:hover,
.button.icon-only-button.ohno:hover,
button.icon-only-button.ohno:focus,
.button.icon-only-button.ohno:focus,
button.faint.ohno:hover,
.button.faint.ohno:hover,
button.faint.ohno:focus,
.button.faint.ohno:focus {
  background-color: var(--bg-3);
  border: none;
  color: var(--ohno-alt);
}

button.dropdown-toggle.yay,
.button.dropdown-toggle.yay,
button.icon-only-button.yay,
.button.icon-only-button.yay,
button.faint.yay,
.button.faint.yay {
  background-color: transparent;
  border: none;
  color: var(--yay);
}

button.dropdown-toggle.yay:hover,
.button.dropdown-toggle.yay:hover,
button.dropdown-toggle.yay:focus,
.button.dropdown-toggle.yay:focus,
button.icon-only-button.yay:hover,
.button.icon-only-button.yay:hover,
button.icon-only-button.yay:focus,
.button.icon-only-button.yay:focus,
button.faint.yay:hover,
.button.faint.yay:hover,
button.faint.yay:focus,
.button.faint.yay:focus {
  background-color: var(--bg-3);
  border: none;
  color: var(--yay-alt);
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }

  a,
  .a,
  button,
  .button,
  input[type="text"],
  input[type="password"],
  textarea,
  input[type="radio"],
  input[type="checkbox"] {
    transition-duration: 0s;
  }

  a:focus-visible,
  .a:focus-visible,
  button:focus-visible,
  .button:focus-visible,
  input[type="radio"]:focus-visible,
  input[type="checkbox"]:focus-visible {
    transition-duration: 0s;
  }

  .card,
  .card.double {
    perspective: none;
  }

  .card.double > .content {
    display: block;
    transition-duration: 0s;
    transform-style: flat;
    background-color: inherit;
    border-radius: 0px;
    align-items: normal;
    justify-content: normal;
    text-align: center;
  }

  .card.double > .content > .front,
  .card.double > .content > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-2);
    border-radius: $border-radius;
    align-items: center;
    justify-content: center;
    text-align: center;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    transform: none;
  }

  .card.double > .content > .back {
    display: none;
    transform: none;
  }

  .card.double > .content > .front {
    display: flex;
  }

  .card.double.flip > .content {
    transform: none;
  }

  .card.double.flip > .content > .back {
    display: flex;
  }

  .card.double.flip > .content > .front {
    display: none;
  } 

  .searchbar {
    transition-duration: 0s;
  }
}
