$font-family: sans-serif !default;
$border-radius: 0.8rem !default;
$border-radius-button: 1.6rem !default;
$border-radius-textbox: 0.8rem !default;
$border-radius-textbox-searchbar: 1.6rem !default;
$border-radius-checkbox: 0.6rem !default;
$border-radius-text: 0.4rem !default;
$font-weight-button: 600 !default;
$font-weight-link: 600 !default;

html {
  height: auto;
  font-size: 18px;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 16px;
  }
}

body {
  height: auto;
  background-color: var(--bg1);
  color: var(--fg1);
  font-size: 1rem;
  line-height: 1.4;
  font-family: $font-family;
  font-weight: normal;
  margin: 0px;
}

::selection {
  background-color: var(--select-bg);
  color: var(--select);
}

h1,
.h1 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h2,
.h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h3,
.h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h4,
.h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  line-height: 1.2;
}

h5,
.h5,
p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 1rem;
}
/* TEMPORARY FIX */
p {
  margin-block-end: 0px;
}

h6,
.h6,
small {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

h5, p, h6, small,
.h5, .h6 {
  line-height: 1.4;
}

b,
.b {
  font-weight: bold;
}

i,
.i {
  font-style: italic;
}

/*
nerdfont icons shouldn't have same styling as italic element lol
*/
i.nf {
  font-style: normal;
}

s,
.s {
  text-decoration: line-through;
}

mark,
.mark {
  background-color: var(--fg1);
  color: var(--bg1);
  border-radius: $border-radius-text;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  line-height: 1.4;
}

code,
.code {
  font-family: monospace;
  background-color: var(--bg3);
  border-radius: $border-radius-text;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  line-height: 1.4;
}

.box {
  background-color: var(--bg2);
  color: var(--fg1);
  border: 0.2rem solid var(--bg2);
  border-radius: $border-radius;
  padding: 1rem;
}

.extra .box {
  background-color: var(--bg1);
  border-color: var(--bg1);
}

.hero {
  border-bottom: 0.2rem solid var(--bg4);
  text-align: center;
  padding: 1rem;
  padding-bottom: 4rem;
  margin: 4rem 1rem;
}

.topmost {
  /* "topmost" is those alert bar thingies that are ABOVE the header, they're the top-most */
  margin: 1rem;
}

header,
.header {
  position: static;
  /* TEMP*/
  height: 4rem;
  background-color: var(--bg1);
  border-bottom: 0.2rem solid var(--bg4);
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1rem;
}

header.sticky,
.header.sticky {
  position: sticky;
  z-index: 10;
  top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

header > .nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0px 1rem;
}

.nav > div {
  border-bottom: 0.2rem solid var(--bg1);
}

.nav > div.current {
  border-bottom: 0.2rem solid var(--main-alt);
}

.nav > div.current > a {
  color: var(--main-alt);
}

footer,
.footer {
  border-top: 0.2rem solid var(--bg4);
  text-align: center;
  padding: 1rem;
  padding-top: 4rem;
  margin: 4rem 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: $border-radius;
  border: 0.2rem solid var(--bg4);
}

td {
  font-weight: normal;
  text-align: left;
  padding: 1rem;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 1rem;
}

table.outer td,
table.outer th,
table.outer thead,
table.outer tbody,
table.outer tfoot {
  border: none;
}

table.inner th:not(:last-child),
table.inner td:not(:last-child) {
 border-right: 0.2rem solid var(--bg4);
}

table.inner > thead > tr > th,
table.inner > thead > tr > td,
table.inner > tbody > tr:not(:last-child) > th,
table.inner > tbody > tr:not(:last-child) > td,
table.inner > tr:not(:last-child) > td,
table.inner > tr:not(:last-child) > th,
table.inner > thead:not(:last-child),
table.inner > tbody:not(:last-child) {
  border-bottom: 0.2rem solid var(--bg4);
}

a,
.a {
  color: var(--main);
  cursor: pointer;
  border-radius: $border-radius-text;
  font-size: 1rem;
  font-weight: $font-weight-link;
  line-height: 1.4;
  text-decoration: none;
  transition-duration: 0.4s;
}

a:hover,
a:focus,
.a:hover,
.a:focus {
  color: var(--main-alt);
}

a:focus-visible,
.a:focus-visible {
  outline: 0.2rem solid var(--main);
  outline-offset: 0.4rem;
  transition-duration: 0.1s;
}

button,
.button {
  display: inline-flex;
  appearance: none;
  align-items: center;
  gap: 0.4rem;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--main);
  color: var(--bg1);
  border: none;
  border-radius: $border-radius-button;
  padding: 0.6rem 1rem;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-weight-button;
  line-height: 1.4;
  transition-duration: 0.4s;
}

button,
.button,
a,
.a {
  -webkit-tap-highlight-color: transparent;
}

button.alt,
.button.alt {
  background-color: var(--bg2);
  color: var(--main);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: var(--main-alt);
  color: var(--bg1);
}

button.alt:hover,
button.alt:focus,
.button.alt:hover,
.button.alt:focus {
  background-color: var(--bg3);
  color: var(--main-alt);
}

button:focus-visible,
.button:focus-visible {
  outline: 0.2rem solid var(--main);
  outline-offset: 0.2rem;
  transition-duration: 0.1s;
}

::placeholder {
  color: var(--fg0);
  font-size: 1rem;
  font-family: $font-family;
  font-weight: normal;
  opacity: 1;
}

input[type="text"],
input[type="password"],
textarea {
  display: inline-block;
  appearance: none;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
  cursor: text;
  text-decoration: none;
  font-family: $font-family;
  background-color: var(--bg1);
  color: var(--fg1);
  border: 0.2rem solid var(--bg4);
  border-radius: $border-radius-textbox;
  outline: none;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  line-height: 1.4;
  transition-duration: 0.4s;
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
  border-color: var(--bg4);
  background-color: var(--bg2);
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: var(--main);
  background-color: var(--bg1);
}

.searchbar {
  display: flex;
  width: 100%;
  gap: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--bg2);
  border: 0.2rem solid var(--bg2);
  border-radius: $border-radius-textbox-searchbar;
  transition-duration: 0.4s;
}

.searchbar > .searchbar-icon {
  padding-left: 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 0px;
  color: var(--fg0);
}

.searchbar > input[type="text"],
.searchbar > input[type="text"]:hover,
.searchbar > input[type="text"]:focus {
  width: 100%;
  margin-top: 0px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding-left: 0.6rem;
}

.searchbar > input[type="text"]:focus-visible {
  background-color: transparent;
  border: none;
}

.searchbar:hover {
  background: var(--bg3);
  border-color: var(--bg3);
}

.searchbar:focus-within {
  background: var(--bg2);
  border-color: var(--main);
}

.searchbar.with-autocomplete {
  position: relative;
}

.searchbar.with-autocomplete > .searchbar-autocomplete {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  width: 100%;
  display: none;
  /*display: flex;*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: stretch;
  gap: 0.2rem;
  margin-top: 0.4rem;
  padding: 0.4rem;
  background: var(--bg2);
  border: 0.2rem solid var(--bg4);
  border-radius: $border-radius;
}

.searchbar.with-autocomplete:focus > .searchbar-autocomplete {
  display: flex;
}
/*
  use seperate focus-within rule so that unsupported browsers still use above rule for same styling
  otherwise, one invalid selector makes the whole rule invalid
*/
.searchbar.with-autocomplete:focus-within > .searchbar-autocomplete {
  display: flex;
}

/* make sure :focus and :focus-within do not override .hide */
.searchbar.with-autocomplete:focus > .searchbar-autocomplete.hide {
  display: none;
}
.searchbar.with-autocomplete:focus-within > .searchbar-autocomplete.hide {
  display: none;
}

.searchbar-autocomplete > a,
.searchbar-autocomplete > .a {
  margin-top: 0px;
  padding: 0.2rem 0.6rem;
  border: none;
  color: var(--fg1);
  background-color: var(--bg2);
}

.searchbar-autocomplete > a:hover,
.searchbar-autocomplete > .a:hover {
  color: var(--main-alt);
  background-color: var(--bg3);
}

/* extra focus-visible to override link's other styles */
.searchbar-autocomplete > a:focus-visible,
.searchbar-autocomplete > .a:focus-visible {
  color: var(--main-alt);
  background-color: var(--bg3);
  border: none;
  outline: none;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.radio input[type="radio"]+span {
  cursor: pointer;
  color: var(--fg1);
}

.radio input[type="radio"]+span::before {
  content: "";
  border: 0.2rem solid var(--main);
  border-radius: 50%;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  vertical-align: -0.4rem;
  outline: none;
  transition-duration: 0.4s;
}

.radio input[type="radio"]:checked+span::before {
  border-radius: 50%;
  background-color: var(--main-alt);
  border: 0.4rem solid var(--main);
  transition-duration: 0.4s;
}

.radio input[type="radio"]:hover+span::before {
  border-color: var(--main-alt);
  transition-duration: 0.4s;
}

.radio input[type="radio"]:focus-visible+span::before {
  outline: 0.2rem solid var(--main);
  outline-offset: 0.2rem;
  transition-duration: 0.1s;
}

.radio input[type="radio"]:disabled+span {
  cursor: default;
  color: var(--fg0);
}

.radio input[type="radio"]:disabled+span::before {
  border-color: var(--bg4);
}

.radio input[type="radio"]:disabled:checked+span::before {
  background-color: var(--fg0);
}

.card {
  width: 40rem;
  height: 20rem;
}

.caption {
  width: 40rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr;
}

.caption.centerThree {
  grid-template-columns: 1fr 4fr 1fr;
}

.caption.evenTwo {
  grid-template-columns: 1fr 1fr;
}

.caption.evenThree {
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .card,
  .caption {
    width: 100%;
  }
}

.card > .content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--bg2);
  border-radius: $border-radius;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card.double {
  perspective: 1000px;
}

.card.double > .content {
  display: block;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  background-color: inherit;
  border-radius: 0px;
  padding: 0px;
  align-items: normal;
  justify-content: normal;
  text-align: center;
}

.card.double > .content > .front,
.card.double > .content > .back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding: 1rem;
  background-color: var(--bg2);
  border-radius: $border-radius;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: rotateX(0deg);
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.1);
}

.card.double > .content > .back {
  transform: rotateY(180deg);
}

.card.double.flip > .content {
  transform: rotateY(180deg);
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg0);
}

.separator::before,
.separator::after {
  content: "";
  display: block;
  background: var(--bg4);
  width: 100%;
  height: 0.2rem;
  margin: 0px 1rem;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.modal::before {
  content: "";
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg0);
  opacity: 0.6;
}

.modal > .content {
  z-index: 102;
  min-width: 40vw;
  width: auto;
  max-width: 90vw;
  background-color: var(--bg1);
  border: 0.2rem solid var(--bg4);
  border-radius: $border-radius;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .modal > .content {
    width: 90vw;
  }
}

.flex.pop {
  padding: 0px 1rem;
}

/* .dropdown html structure:
<div class="dropdown">
  <button>Toggle Dropdown!</button>
  <div class="content">
    <button>Something</button>
    <button>Another thing</button>
    <button>More things</button>
  </div>
</div>
*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .content {
  display: none;
  position: absolute;
  z-index: 20;
  flex-direction: column;
  align-items: stretch;
  gap: 0.4rem;
  margin-top: 0.4rem;
  padding: 0.4rem;
  background: var(--bg2);
  border: 0.2rem solid var(--bg4);
  border-radius: $border-radius;
}

.dropdown:focus-within .content {
  display: flex;
}

.dropdown .content button,
.dropdown .content .button {
  margin-top: 0px;
  text-wrap: nowrap;
  background-color: var(--bg2);
  border-color: var(--bg2);
  color: var(--main);
}

.dropdown .content button:hover,
.dropdown .content .button:hover,
.dropdown .content button:focus,
.dropdown .content .button:focus {
  background-color: var(--bg3);
  border-color: var(--bg3);
  color: var(--main-alt);
}

button.dropdown-toggle,
.button.dropdown-toggle,
button.icon-only-button,
.button.icon-only-button,
button.faint,
.button.faint {
  background-color: transparent;
  border: none;
  color: var(--fg1);
}

button.dropdown-toggle:hover,
.button.dropdown-toggle:hover,
button.dropdown-toggle:focus,
.button.dropdown-toggle:focus,
button.icon-only-button:hover,
.button.icon-only-button:hover,
button.icon-only-button:focus,
.button.icon-only-button:focus,
button.faint:hover,
.button.faint:hover,
button.faint:focus,
.button.faint:focus {
  background-color: var(--bg3);
  border: none;
  color: var(--main-alt);
}

.combo-select {
  display: flex;
  gap: 0px;
  align-items: stretch;
}

.combo-select > .left,
.combo-select > button.left,
.combo-select > .button.left {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.combo-select > .mid,
.combo-select > button.mid,
.combo-select > .button.mid {
  margin: 0px;
  border-radius: 0px;
}
.combo-select > .right,
.combo-select > button.right,
.combo-select > .button.right {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.combo-select > button,
.combo-select > .button {
  background-color: var(--bg2);
  color: var(--main);
  border-color: var(--bg2);
}

.combo-select > button:hover,
.combo-select > .button:hover,
.combo-select > button:focus,
.combo-select > .button:focus {
  background-color: var(--bg3);
  color: var(--main-alt);
  border-color: var(--bg3);
}

.combo-select > .selected,
.combo-select > button.selected,
.combo-select > .button.selected {
  background-color: var(--main);
  color: var(--bg1);
  border-color: var(--main);
}

.combo-select > button.selected:hover,
.combo-select > .button.selected:hover,
.combo-select > button.selected:focus,
.combo-select > .button.selected:focus {
  background-color: var(--main-alt);
  color: var(--bg1);
  border-color: var(--main-alt);
}

.combo-select .combo-selected-icon {
  display: none;
}

.combo-select > .selected > .combo-selected-icon {
  display: inline;
}

button.button-box,
.button.button-box {
  display: inline-block;
  color: var(--fg1);
  background: var(--bg2);
  border: 0.2rem solid var(--bg2);
  border-radius: $border-radius;
}

button.button-box:hover,
button.button-box:focus,
.button.button-box:hover,
.button.button-box:focus {
  color: var(--main-alt);
  background: var(--bg3);
  border-color: var(--bg3);
}

button.button-box:focus-visible {
  outline-offset: 0.4rem;
}

button.button-box.selected,
.button.button-box.selected {
  color: var(--main);
  border-color: var(--main);
}


button.button-box.selected:hover,
.button.button-box.selected:hover,
button.button-box.selected:focus,
.button.button-box.selected:focus {
  color: var(--main-alt);
  border-color: var(--main-alt);
}

details {
  border: 0.2rem solid var(--bg4);
  border-radius: $border-radius;
  padding: 1rem;
}

summary {
  font-weight: $font-weight-button;
  padding: 0px;
  border: none;
  margin: 0px;
}

details[open] summary {
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--bg4);
  margin-bottom: 1rem;
}
