$border-radius: 0.8rem !default;

$ohno: #ff6666 !default;
$ohno-alt: #ff9999 !default;
$yay: #66FFCC !default;
$yay-alt: #CCFFEE !default;
$main: #9966FF !default;
$main-alt: #BB99FF !default;
$extra: #66FFCC !default;
$extra-alt: #CCFFEE !default;
$extra-bg: #181825 !default;
$fg2: #c3cce9 !default;
$fg1: #c3cce9 !default;
$fg0: #9399b2 !default;
$bg4: #3b3c4f !default;
$bg3: #2b2c3d !default;
$bg2: #222333 !default;
$bg1: #1e1e2e !default;
$bg0: #181825 !default;
$select: #c3cce9 !default;
$select-bg: #533380 !default;

a.mark {
  /*
  undo stuff in other stuff?
  */
  color: $main;
}

a.mark:hover,
a.mark:focus-visible {
  color: $main-alt;
}

/*
other utils
*/

span.ohno,
p.ohno,
b.ohno,
i.ohno,
u.ohno,
.text.ohno,
mark.ohno,
.mark.ohno,
code.ohno {
  color: $ohno;
}

span.yay,
p.yay,
b.yay,
i.yay,
u.yay,
.text.yay,
mark.yay,
.mark.yay,
code.yay {
  color: $yay;
}

span.bg1,
p.bg1,
b.bg1,
i.bg1,
u.bg1,
.text.bg1,
mark.bg1,
.mark.bg1,
code.bg1 {
  color: $bg1;
}

span.fg2,
p.fg2,
b.fg2,
i.fg2,
u.fg2,
.text.fg2,
mark.fg2,
.mark.fg2,
code.fg2 {
  color: $fg2;
}

span.fg1,
p.fg1,
b.fg1,
i.fg1,
u.fg1,
.text.fg1,
mark.fg1,
.mark.fg1,
code.fg1 {
  color: $fg1;
}

span.fg0,
p.fg0,
b.fg0,
i.fg0,
u.fg0,
.text.fg0,
mark.fg0,
.mark.fg0,
code.fg0 {
  color: $fg0;
}

span.main,
p.main,
b.main,
i.main,
u.main,
.text.main,
mark.main,
.mark.main,
code.main {
  color: $main;
}

span.extra,
p.extra,
b.extra,
i.extra,
u.extra,
.text.extra,
mark.extra,
.mark.extra,
code.extra {
  color: $extra;
}

mark.markOhno,
.mark.markOhno {
  background-color: $ohno;
}

mark.markYay,
.mark.markYay {
  background-color: $yay;
}

mark.markBg4,
.mark.markBg4 {
  background-color: $bg4;
}

mark.markBg2,
.mark.markBg2 {
  background-color: $bg2;
}

mark.markFg2,
.mark.markFg2 {
  background-color: $fg2;
}

mark.markFg1,
.mark.markFg1 {
  background-color: $fg1;
}

mark.markFg0,
.mark.markFg0 {
  background-color: $fg0;
}

mark.markMain,
.mark.markMain {
  background-color: $main;
}

mark.markExtra,
.mark.markExtra {
  background-color: $extra;
}

.box.ohno {
  color: $ohno;
  border-color: $ohno;
}

.box.yay {
  color: $yay;
  border-color: $yay;
}

pre,
.pre {
  white-space: pre;
}

button.ohno,
.button.ohno {
  background-color: $ohno;
  border-color: $ohno;
}

button.yay,
.button.yay {
  background-color: $yay;
  border-color: $yay;
}

button.extra,
.button.extra {
  background-color: $extra;
  border-color: $extra;
  color: $extra-bg;
}

button.alt.ohno,
.button.alt.ohno {
  background-color: $bg3;
  border-color: $bg3;
  color: $ohno;
}

button.alt.yay,
.button.alt.yay {
  background-color: $bg3;
  border-color: $bg3;
  color: $yay;
}

button.alt.extra,
.button.alt.extra {
  background-color: $bg3;
  border-color: $bg3;
  color: $extra;
}

button:hover.ohno,
button:focus-visible.ohno,
.button:hover.ohno,
.button:focus-visible.ohno {
  background-color: $ohno-alt;
  color: $bg1;
}

button:hover.yay,
button:focus-visible.yay,
.button:hover.yay,
.button:focus-visible.yay {
  background-color: $yay-alt;
  color: $bg1;
}

button:hover.extra,
button:focus-visible.extra,
.button:hover.extra,
.button:focus-visible.extra {
  background-color: $extra-alt;
  color: $extra-bg;
}

button:focus-visible.ohno,
.button:focus-visible.ohno {
  outline-color: $ohno;
}

button:focus-visible.yay,
.button:focus-visible.yay {
  outline-color: $yay;
}

button:focus-visible.extra,
.button:focus-visible.extra {
  outline-color: $extra;
}

input[type="text"].ohno:hover,
input[type="password"].ohno:hover,
textarea.ohno:hover {
  border-color: $ohno-alt;
}

input[type="text"].yay:hover,
input[type="password"].yay:hover,
textarea.yay:hover {
  border-color: $yay-alt;
}

input[type="text"].extra:hover,
input[type="password"].extra:hover,
textarea.extra:hover {
  border-color: $extra-alt;
}

input[type="text"].ohno:focus,
input[type="password"].ohno:focus,
textarea.ohno:focus,
input[type="text"].ohno:focus-visible,
input[type="password"].ohno:focus-visible,
textarea.ohno:focus-visible {
  border-color: $ohno;
}

input[type="text"].yay:focus,
input[type="password"].yay:focus,
textarea.yay:focus,
input[type="text"].yay:focus-visible,
input[type="password"].yay:focus-visible,
textarea.yay:focus-visible {
  border-color: $yay;
}

input[type="text"].extra:focus,
input[type="password"].extra:focus,
textarea.extra:focus,
input[type="text"].extra:focus-visible,
input[type="password"].extra:focus-visible,
textarea.extra:focus-visible {
  border-color: $extra;
}

textarea.vertical {
  resize: vertical;
  white-space: pre;
}

textarea.horizontal {
  resize: horizontal;
  white-space: pre;
}

.hide {
  display: none;
}

.fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background: $bg1;
}

.exitFullscreen {
  position: fixed;
  top: 1rem;
  left: 1rem;
  margin: 0px;
  /* hide exit button by default */
  display: none;
}

.fullscreen > button.exitFullscreen,
.fullscreen > .button.exitFullscreen {
  /* show exit button if its parent is fullscreen */
  display: inline-block;
  /* and specifically use inline block just for buttons */
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0px;
  opacity: 0;
  overflow: hidden;
}

/* fancy stuff */
.hero > .logo::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: -100;
  background-color: $main;
  opacity: 0.2;
  filter: blur(1rem);
  border-radius: 50%;
}

html.min .hero > .logo::before {
  display: none;
}

.hero > .logo > svg {
  margin-top: 0px;
}

/* temp */
.fullWidth {
  width: 100%;
}

.grid.page.extra {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 1rem;
  background-color: $extra-bg;
}

/* third party styling requirements */
button.g,
.button.g {
  font-family: "roboto";
  background-color: #dfdfed;
  color: #181820;
  border-color: #dfdfed;
  padding: 0.6rem 0.8rem;
  border-width: 0.4rem;
}

button.g:hover,
.button.g:hover,
button.g:focus-visible,
.button.g:focus-visible {
  color: #181820;
  background-color: #CFCFE6;
}

button.g:focus-visible,
.button.g:focus-visible {
  outline-color: #dfdfed;
}

button.g img {
  height: 1.4rem;
  width: 1.4rem;
}

button.guest,
.button.guest {
  border-width: 0.4rem;
}

button.large,
.button.large {
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.fill-ohno {
  fill: $ohno;
}

.fill-ohno-alt {
  fill: $ohno-alt;
}

.fill-yay {
  fill: $yay;
}

.fill-yay-alt {
  fill: $yay-alt;
}

.fill-main {
  fill: $main;
}

.fill-main-alt {
  fill: $main-alt;
}

.fill-extra {
  fill: $extra;
}

.fill-extra-alt {
  fill: $extra-alt;
}

.fill-extra-bg {
  fill: $extra-bg;
}

.fill-fg2 {
  fill: $fg2;
}

.fill-fg1 {
  fill: $fg1;
}

.fill-fg0 {
  fill: $fg0;
}

.fill-bg4 {
  fill: $bg4;
}

.fill-bg3 {
  fill: $bg3;
}

.fill-bg2 {
  fill: $bg2;
}

.fill-bg1 {
  fill: $bg1;
}

.fill-bg0 {
  fill: $bg0;
}

.background-extra-bg {
  background-color: $extra-bg;
}

.background-bg2 {
  background-color: $bg2;
}

.background-bg1 {
  background-color: $bg1;
}

.background-bg0 {
  background-color: $bg0;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }

  a,
  .a,
  button,
  .button,
  input[type="text"],
  input[type="password"],
  textarea,
  input[type="radio"],
  input[type="checkbox"] {
    transition-duration: 0s;
  }

  .card,
  .card.double {
    perspective: none;
  }

  .card.double > .content {
    display: block;
    transition-duration: 0s;
    transform-style: flat;
    background-color: inherit;
    border-radius: 0px;
    align-items: normal;
    justify-content: normal;
    text-align: center;
  }

  .card.double > .content > .front,
  .card.double > .content > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg2;
    border-radius: $border-radius;
    align-items: center;
    justify-content: center;
    text-align: center;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    transform: none;
  }

  .card.double > .content > .back {
    display: none;
    transform: none;
  }

  .card.double > .content > .front {
    display: flex;
  }

  .card.double.flip > .content {
    transform: none;
  }

  .card.double.flip > .content > .back {
    display: flex;
  }

  .card.double.flip > .content > .front {
    display: none;
  } 
}
