$font-family: sans-serif !default;
$border-radius: 0.8rem !default;
$border-radius-button: 2rem !default;
$border-radius-textbox: 0.8rem !default;
$border-radius-checkbox: 0.6rem !default;
$border-radius-text: 0.4rem !default;
$font-weight-button: 600 !default;
$color-scheme: dark !default;
$ohno: #ff6666 !default;
$ohno-alt: #ff9999 !default;
$yay: #66FFCC !default;
$yay-alt: #CCFFEE !default;
$main: #9966FF !default;
$main-alt: #BB99FF !default;
$extra: #66FFCC !default;
$extra-alt: #CCFFEE !default;
$extra-bg: #181825 !default;
$fg2: #c3cce9 !default;
$fg1: #c3cce9 !default;
$fg0: #9399b2 !default;
$bg4: #3b3c4f !default;
$bg3: #2b2c3d !default;
$bg2: #222333 !default;
$bg1: #1e1e2e !default;
$bg0: #181825 !default;
$select: #c3cce9 !default;
$select-bg: #533380 !default;

:root {
  color-scheme: $color-scheme;
}

html {
  height: auto;
  font-size: 18px;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 16px;
  }
}

body {
  height: auto;
  background-color: $bg1;
  color: $fg1;
  font-size: 1rem;
  line-height: 1.4;
  font-family: $font-family;
  font-weight: normal;
  margin: 0px;
}

::selection {
  background-color: $select-bg;
  color: $select;
}

h1,
.h1 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h2,
.h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h3,
.h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h4,
.h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  line-height: 1.2;
}

h5,
.h5,
p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 1rem;
}
/* TEMPORARY FIX */
p {
  margin-block-end: 0px;
}

h6,
.h6,
small {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

h5, p, h6, small,
.h5, .h6 {
  line-height: 1.4;
}

b,
.b {
  font-weight: bold;
}

i,
.i {
  font-style: italic;
}

/*
nerdfont icons shouldn't have same styling as italic element lol
*/
i.nf {
  font-style: normal;
}

s,
.s {
  text-decoration: line-through;
}

mark,
.mark {
  background-color: $fg1;
  color: $bg1;
  border-radius: $border-radius-text;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  line-height: 1.4;
}

code,
.code {
  font-family: monospace;
  background-color: $bg2;
  border-radius: $border-radius-text;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  line-height: 1.4;
}

.box {
  background-color: $bg2;
  color: $fg1;
  border: 0.2rem solid $bg2;
  border-radius: $border-radius;
  padding: 1rem;
}

.hero {
  border-bottom: 0.2rem solid $bg4;
  text-align: center;
  padding: 1rem;
  padding-bottom: 4rem;
  margin: 4rem 1rem;
}

.topmost {
  /* "topmost" is those alert bar thingies that are ABOVE the header, they're the top-most */
  margin: 1rem;
}

header,
.header {
  position: static;
  /* TEMP*/
  height: 4rem;
  background-color: $bg1;
  border-bottom: 0.2rem solid $bg4;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1rem;
}

header.sticky,
.header.sticky {
  position: sticky;
  z-index: 100;
  top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

header > .nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0px 1rem;
}

.nav > div {
  border-bottom: 0.2rem solid $bg1;
}

.nav > div.current {
  border-bottom: 0.2rem solid $main-alt;
}

.nav > div.current > a {
  color: $main-alt;
}

footer,
.footer {
  border-top: 0.2rem solid $bg4;
  text-align: center;
  padding: 1rem;
  padding-top: 4rem;
  margin: 4rem 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: $border-radius;
  border: 0.2rem solid $bg4;
}

td {
  font-weight: normal;
  text-align: left;
  padding: 1rem;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 1rem;
}

table.outer td,
table.outer th,
table.outer thead,
table.outer tbody,
table.outer tfoot {
  border: none;
}

table.inner th:not(:last-child),
table.inner td:not(:last-child) {
 border-right: 0.2rem solid $bg4;
}

table.inner > thead > tr > th,
table.inner > thead > tr > td,
table.inner > tbody > tr:not(:last-child) > th,
table.inner > tbody > tr:not(:last-child) > td,
table.inner > tr:not(:last-child) > td,
table.inner > tr:not(:last-child) > th,
table.inner > thead:not(:last-child),
table.inner > tbody:not(:last-child) {
  border-bottom: 0.2rem solid $bg4;
}

a,
.a {
  color: $main;
  cursor: pointer;
  border-radius: $border-radius-text;
  font-size: 1rem;
  line-height: 1.4;
  text-decoration: none;
  transition-duration: 0.4s;
}

a:hover,
a:focus-visible,
.a:hover,
.a:focus-visible {
  color: $main-alt;
}

a:focus-visible,
.a:focus-visible {
  outline: 0.2rem solid $main;
  outline-offset: 0.4rem;
  transition-duration: 0.1s;
}

button,
.button {
  display: inline-block;
  appearance: none;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: $main;
  color: $bg1;
  border: 0.2rem solid $main;
  border-radius: $border-radius-button;
  padding: 0.4rem 0.8rem;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-weight-button;
  line-height: 1.4;
  transition-duration: 0.4s;
}

button.alt,
.button.alt {
  background-color: $bg3;
  color: $main;
  border-color: $bg3
}

button:hover,
button:focus-visible,
.button:hover,
.button:focus-visible {
  background-color: $main-alt;
  color: $bg1;
}

button:focus-visible,
.button:focus-visible {
  outline: 0.2rem solid $main;
  outline-offset: 0.2rem;
  transition-duration: 0.1s;
}

::placeholder {
  color: $fg0;
  font-size: 1rem;
  font-family: $font-family;
  font-weight: normal;
  opacity: 1;
}

input[type="text"],
input[type="password"],
textarea {
  display: inline-block;
  appearance: none;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
  cursor: text;
  text-decoration: none;
  font-family: $font-family;
  background-color: $bg1;
  color: $fg1;
  border: 0.2rem solid $bg4;
  border-radius: $border-radius-textbox;
  outline: none;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  line-height: 1.4;
  transition-duration: 0.4s;
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
  border-color: $main-alt;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
textarea:focus-visible {
  border-color: $main;
}

/*
the html of a radio should look like:

<div class="radio>
  <input type="radio" id="id" ... />
  <label for="id">text</label>
</div>
*/
.radio,
.checkbox {
  display: grid;
  grid-template-columns: 1.8rem auto 1fr;
  grid-template-areas: "input label .";
  gap: 1em;
}

.radio input,
.checkbox input {
  grid-area: input;
}

.radio label,
.checkbox label {
  grid-area: label;
}

input[type="radio"],
input[type="checkbox"] {
  /*
  https://moderncss.dev/pure-css-custom-styled-radio-buttons/
  https://moderncss.dev/pure-css-custom-checkbox-style/
  */
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0px;
  background-color: $bg1;
  border: 0.2rem solid $main;
  transition-duration: 0.4s;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"] {
  border-radius: $border-radius-checkbox;
}

input[type="radio"]:hover,
input[type="radio"]:focus-visible,
input[type="checkbox"]:hover,
input[type="checkbox"]:focus-visible {
  border-color: $main-alt;
}

input[type="radio"]:focus-visible,
input[type="checkbox"]:focus-visible {
  outline: 0.2rem solid $main;
  outline-offset: 0.2rem;
  transition-duration: 0.1s;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: $main;
  transition-duration: 0.1s;
}

.card {
  width: 40rem;
  height: 20rem;
}

.caption {
  width: 40rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr;
}

.caption.centerThree {
  grid-template-columns: 1fr 4fr 1fr;
}

.caption.evenTwo {
  grid-template-columns: 1fr 1fr;
}

.caption.evenThree {
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .card,
  .caption {
    width: 100%;
  }
}

.card > .content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $bg2;
  border-radius: $border-radius;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card.double {
  perspective: 1000px;
}

.card.double > .content {
  display: block;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  background-color: inherit;
  border-radius: 0px;
  align-items: normal;
  justify-content: normal;
  text-align: center;
}

.card.double > .content > .front,
.card.double > .content > .back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-color: $bg2;
  border-radius: $border-radius;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: rotateX(0deg);
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.1);
}

.card.double > .content > .back {
  transform: rotateY(180deg);
}

.card.double.flip > .content {
  transform: rotateY(180deg);
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $fg0;
}

.separator::before,
.separator::after {
  content: "";
  display: block;
  background: $bg4;
  width: 100%;
  height: 0.2rem;
  margin: 0px 1rem;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.modal::before {
  content: "";
  position: fixed;
  z-index: 180;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: $bg0;
  opacity: 0.6;
}

.modal > .content {
  z-index: 200;
  width: 60vw;
  background-color: $bg1;
  border: 0.2rem solid $bg4;
  border-radius: $border-radius;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .modal {
    align-items: flex-end;
  }

  .modal > .content {
    width: 100vw;
    border: none;
    border-top: 0.2rem solid $bg4;
    border-radius: 0px;
    padding-bottom: 8rem;
  }
}

.flex.pop {
  padding: 0px 1rem;
}

/* .dropdown html structure:
<div class="dropdown">
  <button>Toggle Dropdown!</button>
  <div class="content">
    <button>Something</button>
    <button>Another thing</button>
    <button>More things</button>
  </div>
</div>
*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .content {
  display: none;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  align-items: stretch;
  gap: 0.4rem;
  margin-top: 0.4rem;
  padding: 0.4rem;
  background: $bg2;
  border: 0.2rem solid $bg4;
  border-radius: $border-radius;
}

.dropdown:focus-within .content {
  display: flex;
}

.dropdown .content button,
.dropdown .content .button {
  margin-top: 0px;
  text-wrap: nowrap;
  background-color: $bg2;
  border-color: $bg2;
  color: $main;
}

.dropdown .content button:hover,
.dropdown .content .button:hover,
.dropdown .content button:focus-visible,
.dropdown .content .button:focus-visible {
  background-color: $bg3;
  border-color: $bg3;
  color: $main-alt;
}
