$dark-theme: true;
$bg0: color.adjust($bg1, $lightness: -20%);
$bg1: false;
$bg2: color.adjust($bg1, $lightness: +20%);
$bg3: color.adjust($bg2, $lightness: +20%);
$fg0: color.mix($fg1, $bg1, 60%);
$fg1: false;
$fg2: $fg1;
$main: false;
$extra: false;
$bgExtra: $bg0;
$scary: false;
$yay: false;
$links: $main;
$border-radius: 0.8rem;
$border-width: 0.2rem;

@mixin button(
    $alt: false,
    /* $color can be $main, $scary, $yay, or $extra */
    $color: $main,
    /* $state can be "none", "hover", "focus", "focus-visible*, or "active" */
    $state: "none"
) {
    @if $alt and ($state == "hover" or $state == "focus-visible") {
        background: $color;
        color: $bg1;
    } @else if $alt {
        background: $bg3;
        color: $color;
    } @else if ($state == "hover" or $state = "focus-visible") {
        background: color.adjust($color, $lightness: +20%);
        color: $bg1;
    } @else {
        background: $color;
        color: $bg1;
    }
    border: $border-width solid $color;
    @if $focus-visible {
        outline: 0.2rem solid $color;
        outline-offset: 0.2rem;
    } @else {
        outline: none;
    }
}

@mixin textbox(
    $type,
    $color: $main,
    /* $state can be "none", "hover", or "focus" */
    $state: "none"
) {
    @if $color == $main {
        @if $state = "hover" {
            border: 0.2rem solid color.adjust($color, $lightness: +20%);
        } @else if $state == "focus" {
            border: 0.2rem solid $color;
        } @else {
            border: 0.2rem solid $bg3;
        }
    } @else {
        border: 0.2rem solid $color;
    }
}
