name: Update Site
on:
  workflow_dispatch:
jobs:
  build:
    name: Update site
    runs-on: ubuntu-latest
    steps:
      - name: Clone ehui (from GitHub)
        run: git clone https://github.com/ehanahamed/ehui.git
      - name: Clone ehan.dev (from GitHub)
        run: git clone https://github.com/ehanahamed/ehan.dev.git
      - name: Copy ehui/site/ into ehan.dev/site/ehui/
        run: |
          mkdir -p ehan.dev/site/ehui
          cp -R ehui/site/* ehan.dev/site/ehui
      - name: Commit & push to ehan.dev (gh)
        run: |
          cd ehan.dev
          git add .
          git config --global user.name "Ehan A"
          git config --global user.email "ehan@ehanaha.me"
          git commit -m "Update ehui"
          git push https://ehanahamed:${{ secrets.GH_TOKEN }}@github.com/ehanahamed/ehan.dev.git --all
